.bot1{
    border-bottom: #464646 solid 0.02rem;
}
.title{
    text-align: center;
    padding-top: 0.8rem;
    height: 0.3rem;
    line-height: 0.2rem;

}
.text, .payment,.name{
    padding: 0.15rem;
    height: 0.23rem;

}
.name{
    display: flex;
    align-items: center;
}

.name>p{

}
.name input{
    /**/
    border: 1px solid #ccc;
    border-radius: .04rem;
    margin-left:0.1rem ;
}
.tell{
    padding: 0.2rem;
    height: 0.3rem;
}

.postDiscuss{
    height: 1rem;
    padding: 0.15rem;
}
.postDiscuss .top{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
}
.postDiscuss .top textarea{
    height: 0.58rem;
    resize: none;
    border: 1px solid #ccc;
    padding: .1rem;
    border-radius: .04rem;
}
.postDiscuss .bot{
    text-align: center;
}

.getDiscuss{
    height: 0.4rem;
    padding: 0.1rem;
}
.getDiscuss .top{
    height: 0.16rem;
}
.getDiscuss .top .left{
    height: 0.16rem;
}
.getDiscuss .top .right{
    height: 0.16rem;
    width: 0.3rem;
}
/*.zan{*/
    /*display: inline-block;*/
    /*width: 0.15rem;*/
    /*height: 0.2rem;*/
    /*background: url("../../common/image/dianzan.png") no-repeat center;*/
    /*-webkit-background-size: 0.15rem;*/
    /*background-size: 0.15rem;*/
/*}*/

.getDiscuss .bot{
    height: 0.15rem;
    padding-top:0.1rem;
}

/*{*/
    /*padding: 0.1rem;*/
    /*height: 42rem ;*/
/*}*/