header{
    height: 0.5rem;
    width: 100%;
    /*background-color:#2cced1;*/
}


.title{
    height: 0.4rem;
    /*background-color:pink;*/
    padding: 0.7rem 0.3rem 0rem 0.3rem;
    border-bottom: #464646 0.02rem solid;
}
.title>.tit_1{
    width: 100%;
}

.scribe{
    height: 2.56rem;
    padding: 0.15rem  0.3rem;
    border:  0.02rem;
    /*background-color: green;*/
    /*border-color: yellow;*/
    padding: 0.15rem 0.3rem;
    margin-bottom: .02rem;
}
.scribe .text1{
    min-height: 1.28rem;
    width: 100%;
    resize: none;
    font-size: 0.19rem;
    border:none;
}
.scribe  .photoList{
    /* width: 1rem;
    height: 1rem; */
    /* background:pink; */
}
.scribe  .photoList .icon{
    width: 1rem;
    height: 1rem;
    /*background:yellow;*/
    position: relative;
    top: 0rem;
    left: 0rem;
}

.scribe .photoList> .icon img{
    padding-top: 0.2rem;
    display: block;
    margin: 0 auto;
    width: 0.3rem;
    /*z-index: 10;*/
    height: 0.3rem;
    /*background: url("../../common/image/xiangji.png") no-repeat ;*/
}  

.scribe .photoList> .icon p{
    text-align: center;
    font-size: 0.05rem;
    width: 100%;
}  


.payment{
    height: 0.5rem;
    /*background-color:yellowgreen;*/
    padding-left: 0.3rem;
}
.payment span{
    line-height: 0.5rem;
}
.payment >input{

}


footer{
    height: 1.64rem;
    /*background-color :pink;*/
    padding: 0.15rem 0.3rem ;
}
footer .top{
    height: 0.24rem;
    /*background-color:purple;*/
}
.telText{
    font-size: 0.14rem;
    padding-right: 0.1rem;
    /* vertical-align: top; */
}
.pullDowm{
    width: 0.42rem;
    height: 0.22rem;
    border: 0.01rem;
    padding: 0rem 0.08rem; 
    /*background:green;*/
    border-radius: 0.1rem;
    margin-right: 0.1rem;
    align-items: center;
    display: flex;
}
.pullDowm >select{
    align-items: center;
    border: 0.01rem;
    width: auto;
    /*padding: 0 2%;*/
    margin: 0;
    line-height: 0.14rem;
}

.pullDowm >select>option{
    text-align:center;
    align-items: center;
    border: 0.01rem;
    width:0.1rem;
    height: 0.12rem;
}
footer .top>input{
    width: 1.18rem;
    height: 0.22rem;
    border-radius: 0.1rem;
    font-size: 0.14rem;

}
footer .bot{
    height: 0.32rem;
    width: 1rem;
    color: green;
    border: 1px solid;
    text-align: center;
    margin: auto;
    margin-top: 0.4rem;
    line-height: 0.3rem;
    /*background-color: #2cced1;*/
    border-radius: 0.1rem;
}

